@import "parts/_cards.scss";
@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/misc.scss";
@import "parts/table.scss";
@import "parts/tags.scss";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);

  /* Fonts */
  // --text-font: 'Jetbrains Mono';
  // --text-font: 'Roboto Slab';
  --text-font: 'Quicksand';
  --header-font: 'Space Grotesk', 'Helvetica', sans-serif;
  --code-font: 'Jetbrains Mono';
}

body {
  transition: background-color 0.5s ease, color 0.5s ease; //light to dark transision
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.header-banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1.5em;
}

html {
  transition: background-color 0.5s ease, color 0.5s ease; //light to dark transision
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

//centers all the images, comment it out if you want to left align
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width:640px) {
  html {
    font-size: 16.5px;
  }
}

@media all and (min-width:720px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width:960px) {
  html {
    font-size: 18px;
  }
}