:root.dark {
  --text-0: rgba(237, 237, 237, 0.87);
  --text-1: rgba(237, 237, 237, 0.6);

  --bg-0: #121212;
  --bg-1: rgba(255, 255, 255, 5%);
  --bg-2: rgba(23, 23, 23, 100%);

  --primary-color: #ef5350;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }
}
